<h1>Home Page</h1>
<p>Welcome to the Home Page! Inset Your Information Below to Send an SMS Message!<p>

<%= form_tag("/sms/send", method: "post") do %>
<%= label_tag(:address, "Your Email") %>
<%= email_field(:user, :address) %>
<%= label_tag(:phone, "Phone Number of Recipient") %>
<%= text_area_tag(:phone, "+1") %>
<%= label_tag(:body, "Message Body") %>
<%= text_area_tag(:body, "Hey there!") %>
<%= submit_tag("Send Message") %>
<% end %>
